@button-prefix-cls: yq-button;

.@{button-prefix-cls}{
	padding: 10px;
	color: @container-text-color;
	border-radius: @border-radius-base;
	border: 1px solid @border-color-base;
	cursor: pointer;
	transition:all ease-in-out 0.2s;


	&-default {
		background-color: #fff;
		color:@text-color;
		&:hover {
			color: @primary-color;
			border-color: @primary-color;
		}
	}
	&-primary {
		background-color: @primary-color;
		&:hover {
			opacity: 0.8;
		}
	}

}
