.main_todo {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	padding: 20px 20px 0 20px;
}
.todo_text {
	width: 100%;
	height: 50px;
	display: flex;
}
.todo_id {
	margin-right: 20px;
}
.todo_menu {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-right: 20px;
}

.todo_button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo_button > img {
	width: 16px;
	height: 16px;
	user-select: none;
}

.todo_button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.todo_content {
	display: flex;
}
